<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!-- De mi codigo -->
    <logger name="com.cruzerick.api_reservations" level="debug"/>

<!--    Aplicacion -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>